.section {
  width: 100%;
  padding: 0 var(--container-pad);
  display: flex;
  justify-content: center;
  scroll-margin-top: 60px;
}

.container {
  width: 100%;
  max-width: var(--container-max);
  border: 1px solid var(--gray-ec);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
  padding: 80px 40px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
  width: 100%;
}

@media (max-width: 1199.98px) {
  .container {
    padding: 64px 32px;
  }
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 809.98px) {
  .container {
    padding: 48px 16px;
  }
  .grid {
    grid-template-columns: 1fr;
  }
}
